# Copyright (c) 2026
# SPDX-License-Identifier: MIT

config SHIELD_VOLUCRIS_LEFT
    def_bool $(shields_list_contains,volucris_left)

config SHIELD_VOLUCRIS_RIGHT
    def_bool $(shields_list_contains,volucris_right)
